# Logs
client/node_modules
comments/node_modules
snippet/node_modules
comments/.env
snippet/.env
message_broker/node_modules
message_broke/.env
.env
**/.env
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
